* { box-sizing: border-box; }

.app-container{
    display: grid;
    grid-template-columns: 250px 750px;
    align-items: top;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 150px;
    margin-bottom: 75px;
}

.controls{
  position: flex;
  width: 250px;
  margin-bottom: 4px;
}
/*CSS for dropdown buttons*/
.dropdown{
  display: inline-block;
  /*position: relative ensures children
  are positione relative to the dropdown div*/
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
  width: 100%;
}

.file_link_button{
  display: inline-block;
  background-color: #0397A8;
  border: 1px solid;
  border-color: black;
  color: black;
  padding: 16px;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
  width: 100%;
  justify-content: left;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 4px;
  text-align: left;
}

/*Container for checkbox and label*/
.checkbox{
  display: inline-block;
  position: relative;
  margin: 8px 0;
  width: 100%;
}

.dropdown button{
  background-color: #0397A8;
  border: 1px solid;
  border-color: black;
  padding: 16px;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
  width: 100%;
  justify-content: left;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  z-index: -1;
}

.dropdown .content{
  width: 100%;
  /*position: absolute positions object
  relative to dropdown*/
  position: absolute;
  background-color: white;
  padding: 16px;
  /*display: none ensures that .content does not display 
  by default*/
  display: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /*box-sizing: border-box ensures that object size
  accounts for content + padding + borders*/
  box-sizing: border-box;
  z-index: 1;
}
/*CSS for a tags contained within dropdown*/
.dropdown a{
  display: block;
  text-align: left;
  color: black;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
  padding: 16px;
}
/*CSS for a tags contained within dropdown*/
.dropdown:hover .content{
  display: block;
  border-color: black;
  border-width: 1px;
}

.dropdown a:hover{
  background-color: #0397A8;
  cursor: pointer;
}

#plot_content{
    background-color: white;
    overflow: hidden;
    margin-left: 10px;
    grid-row: 1/1;
    grid-column: 2/2; 
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

label {
    font-family: Menlo, Consolas, monaco, monospace;
    font-size: 16px;
    padding: 0.8em 1em;
}

input {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  font-family: Menlo,Consolas,monaco,monospace;
  border-color: black;
}

input[type=checkbox]{
  margin-top: 10px;
  accent-color:  #0397A8;
}

input[type=text] {
  height: 45px;
  background-color: #fff;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
}

input[type=submit] {
  background-color: #0397A8;
  height: 45px;
  cursor: pointer;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
  border-color: black;
}

.autocomplete-items {
  position: absolute;
  background-color: #fff;
  border: 0px solid black;
  border-bottom: none;
  font-family: Menlo,Consolas,monaco,monospace;padding:.8em 1em;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #0397A8;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ffffff;
  color: #ffffff;
}